<link rel="stylesheet" href="/css/header.css">
<div id='header-main-container'>
    <ul>
        <li>
           <a href=""><i class="fas fa-envelope-open-text">Abhay's TODO App</i></a>
        </li>
        <li>
           <a href="">Home</a> 
        </li>
        <li>
            <a href="">Contact</a>
        </li>
        <li>
            <input type="text" placeholder="Search...">
            <button type = "submit"><i class="fas fa-search"></i></button>            
        </li>
    </ul>
    
</div>