<div id="home-page-main">
    <p></p>
    <form action="/users/create" method="POST">
        <span>DESCRIPTION</span>
        <input type="text" name = "description" required placeholder="What do you need to do?">
        <p></p>
        <span>CATEGORY</span>
        <select name="category" id="">
            <option value="no">Choose a category</option>
            <option value="personal">PERSONAL</option>
            <option value="work">WORK</option>
            <option value="school">SCHOOL</option>
        </select>
        <p></p>
        <div>
            <span>Due Date</span>
            <input type="date" name = "date">
        </div>
    
        <div class="btn">
            <button class="darkgrey">ADD TASK</button>
        </div>
    </form>
    <div class="btn ">
        <button class="red">DELETE TASK</button>
    </div>
</div>

<div>
    <% for(let i of details) {%>
        <ul>
            <li>
                <%= i.description %>
                <%= i.category %>
                <%= i.date %>
            </li>
        </ul>
    <%}%>
</div>